@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.main {
  width: 100%;
  border-radius: 20px;
  background-color: #01579b;
}

.top {
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(41, 51, 247, 1) 0%,
    rgba(19, 141, 205, 1) 100%
  );
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  color: whitesmoke;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
}

.header p {
  padding: 15px;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sunrise-sunset {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
